<div [ngGrid]="gridOptions"
     class="grid">
    <div *ngFor="let gridItemConfig of gridItemConfigs; let index = index"
         [(ngGridItem)]="gridItemConfigs[index]"
         id="item-{{index+1}}"
         class="panel panel-default">
        <div class="panel-heading">
            <span class="handle">
                Tile {{index+1}} (drag me)
            </span>
            <button type="button"
                    class="btn btn-default btn-xs pull-right"
                    [popover]="popoverTemplate"
                    placement="auto"
                    container="body"
                    [outsideClick]="true">popover</button>
        </div>
        <div class="panel-body">
            Tile {{index+1}}
        </div>
    </div>
</div>

<br>

<div class="container">
    <p>Bugs</p>
    <ol>
        <li>Popover from Tile 2 goes off the top of the screen by ~95px.</li>
        <li>
            When popover from Tile 3 hits the right edge of the screen (open the popover and
            drag the tile), it is always positioned <code>top</code> even when it would fit better <code>bottom</code>.
        </li>
    </ol>
</div>

<ng-template #popoverTemplate>
    <ul class="list-unstyled">
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
        <li>This is a lot of content</li>
    </ul>
</ng-template>